<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.executor.dao.JavBusDao">

	<resultMap id="JavBus" type="com.xxl.job.executor.model.JavBus" >
		<result column="id" property="id" />
	    <result column="createTime" property="createTime" />
	    <result column="updateTime" property="updateTime" />
		<result column="rootUrl" property="rootUrl" />
		<result column="detailUrl" property="detailUrl" />
		<result column="detailImgURL" property="detailImgURL" />
		<result column="detailName" property="detailName" />
		<result column="tags" property="tags" />
		<result column="genre" property="genre" />
		<result column="rootUrl" property="rootUrl" />
		<result column="detailUrl" property="detailUrl" />
		<result column="detailImgURL" property="detailImgURL" />
		<result column="detailName" property="detailName" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.createTime,
		t.updateTime,
		t.rootUrl,
		t.detailUrl,
		t.detailImgURL,
		t.tags
	</sql>

	<select id="findAll" resultMap="JavBus" parameterType="java.lang.String" statementType="STATEMENT">
		SELECT <include refid="Base_Column_List" />
		FROM ${tableName} AS t
		ORDER BY t.id ASC
	</select>


	<update id="update"  parameterType="java.util.HashMap" >
		UPDATE ${tableName}
		SET `sendTelegram` = 1,`updateTime` = now()
		WHERE id = #{id}
	</update>
	<update id="updateFail"  parameterType="java.util.HashMap" >
		UPDATE ${tableName}
		SET `updateTime` = now(),`failCount` = failCount+1
		WHERE id = #{id}
	</update>

	<delete id="remove"  parameterType="java.util.HashMap" >
		DELETE FROM ${tableName}
		WHERE id = #{id}
	</delete>


	<select id="pageList" parameterType="java.util.HashMap" resultMap="JavBus">
		SELECT <include refid="Base_Column_List" />
		FROM ${tableName} AS t
		where sendTelegram = 0 and failCount &lt; 5
		ORDER BY t.failCount, t.id ASC
		LIMIT #{offset}, #{pagesize}
	</select>


	<select id="pageListFail" parameterType="java.util.HashMap" resultMap="JavBus">
		SELECT <include refid="Base_Column_List" />
		FROM ${tableName} AS t
		where sendTelegram = 0 and failCount != 0 and failCount &lt; 8
		ORDER BY t.failCount, t.id ASC
		LIMIT #{offset}, #{pagesize}
	</select>

	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM ${tableName} AS t
		where sendTelegram = 0
	</select>

</mapper>