<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.executor.dao.MzituDao">

	<resultMap id="Mzitu" type="com.xxl.job.executor.model.Mzitu" >
		<result column="id" property="id" />
	    <result column="fileName" property="fileName" />
	    <result column="imgURL" property="imgURL" />
		<result column="Url" property="url" />
		<result column="ParentUrl" property="parentUrl" />
		<result column="sendTelegram" property="sendTelegram" />
		<result column="DownloadTime" property="downloadTime" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.fileName,
		t.imgURL,
		t.url,
		t.parentUrl,
		t.sendTelegram,
		t.downloadTime
	</sql>

	<select id="findAll" resultMap="Mzitu" parameterType="java.lang.String" statementType="STATEMENT">
		SELECT <include refid="Base_Column_List" />
		FROM ${tableName} AS t
		ORDER BY t.id ASC
	</select>


	<update id="update"  parameterType="java.util.HashMap" >
		UPDATE ${tableName}
		SET `sendTelegram` = 1,`updateTime` = now()
		WHERE id = #{id}
	</update>
	<update id="updateFail"  parameterType="java.util.HashMap" >
		UPDATE ${tableName}
		SET `updateTime` = now(),`failCount` = failCount+1
		WHERE id = #{id}
	</update>

	<delete id="remove"  parameterType="java.util.HashMap" >
		DELETE FROM ${tableName}
		WHERE id = #{id}
	</delete>


	<select id="pageList" parameterType="java.util.HashMap" resultMap="Mzitu">
		SELECT <include refid="Base_Column_List" />
		FROM ${tableName} AS t
		where sendTelegram = 0 and failCount &lt; 5
		ORDER BY t.failCount, t.id ASC
		LIMIT #{offset}, #{pagesize}
	</select>


	<select id="pageListFail" parameterType="java.util.HashMap" resultMap="Mzitu">
		SELECT <include refid="Base_Column_List" />
		FROM ${tableName} AS t
		where sendTelegram = 0 and failCount != 0 and failCount &lt; 8
		ORDER BY t.failCount, t.id ASC
		LIMIT #{offset}, #{pagesize}
	</select>

	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM ${tableName} AS t
		where sendTelegram = 0
	</select>

</mapper>